@{
	ViewData["Title"] = "Home Page";
}

<body>
	<h1>Restaurant Review</h1>
	<div id="content"></div>
	<script src="~/lib/React/react.js"></script>
	<script src="~/lib/React/react-dom.js"></script>
	<script src="~/Scripts/Lab7.jsx"></script>
</body>
