@{
    ViewBag.Title = "Restaurant Review";
    Layout = "~/Views/Shared/_AlgCommonLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Final</title>
</head>
<body>
    <div id="content"></div>

    @section JavaScripts {
        <script src="~/Scripts/Itinerary.jsx"></script>
        <script src="~/Scripts/Itineraries.jsx"></script>
        <script src="~/Scripts/Final.jsx"></script>
    }
</body>
</html>

